body {
    background-color: #f4f4f9;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

table {
    width: 100%;
    border-spacing: 20px;
    padding: 10px 20px;
}

table td, table th {
    text-align: center;
    border-spacing: 20px;
    padding: 10px 20px;
}
#expense-table th, #expense-table td {
    padding: 10px 40px; /* Adds more horizontal space between columns */
}

button {
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
